@model MVC_Empty_New.Models.Product

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product/Details</title>
</head>
<body>
    <h1>Ürün Detay</h1>
        <ul>
            <li>@Model.ID @Model.ProductName @Model.UnitPrice</li>
    </ul>
</body>
</html>
